.optionsBar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: whitesmoke;
}

.optionsBar label{
    position: absolute;
    left: 0px;
    margin: 5px;
}