.CandidatesContainer{
    height: 100%;
    width: 100%;
    background: blue;
    /* display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    box-sizing: border-box;
    padding: 10px; */
}