.titleBanner{
    background: whitesmoke;
    width: 100%;
    height: 200px;
    text-align: right;
}

.titleBanner h1 {
    
    margin: auto;
    padding: 80px 20px 0 0;
    font: arial, sans-serif;
    font-size: 2em;
}

.titleBanner p {
    margin: auto;
    padding: 0 20px 0 0;
    font: arial, sans-serif;
    /* font-size: 2em; */
}